@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #0d2cdac9;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Nunito", sans-serif; 
}

* {
    margin: 0; /* Remove a margem padrao */
    padding: 0; /* Remove o preenchimento padrao */
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
}

.a {
    color: rgb(8, 250, 49); 
}

.b {
    color: rgba(3, 195, 253, 0.801); 
}

.c {
    color: hsl(49, 100%, 47%); 
}

.cabecalho {
    padding: 2% 0;
    background-color: rgba(13, 44, 218, 0.25);
    box-shadow: 0 2px 8px #0d2cda99;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.escrita-cabecalho {
    font-family: "Nunito", sans-serif;
    font-size: 1.31rem;
    font-weight: 600;
    color:var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex; /* alinhar */
    align-items: center; /* centraliza o texto com a imgem, end centraliza a partir de baixo */
    justify-content: space-between; /* espaço para lado */
    gap: 60px;
}

.apresentacao_conteudo {
    width: 50%; /* largura */
    display: flex; /* alinha */
    flex-direction: column; /* Coloca os itens um embaixo do outro */
    gap: 50px; /* Espaço de um pra outro */
}

.apresentacao_conteudo_titulo {
    font-size: 2.94rem;
    font-family: "Krona One", sans-serif; 
}

.apresentacao_conteudo_subtitulo {
    font-size: 1.91rem; 
    font-family: "Krona One", sans-serif; 
}

.bio {
    font-size: 1.31rem; 
    line-height: 1.6;
    font-weight: 340; /* negrito */
    font-family: "Nunito", sans-serif; 
    font-optical-sizing: auto; 
    font-style: normal; 
    text-align: justify; /* alinhar texto */
}

.tit-link {
    font-family: "Nunito", sans-serif;
    font-size: 1.56rem; 
}

.link {
    display: flex; /* alinha */
    flex-direction: column;
    justify-content: space-between; /* espaça igual de lado */
    align-items: center;
    gap: 20px;
}

.conteudo-link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 16rem;
    border-radius: 10px;
    font-size: 1.56rem; 
    font-weight: 400; 
    padding: 1rem 1rem; /* conteudo acima/abaixo do texto */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #f6f6f6;
    font-family: "Krona One", sans-serif;
}

.links {
    display: flex;
    justify-content: center;
    gap: 25px; /* gap entre os icones */
}

.conteudo-link:hover {
    background-color: #272727;
}

.img-me {
    width: 40%;
    border-radius: 12px; /* Borda levemente arredondada */
    box-shadow: 0 0 12px #00BFFF66;
    object-fit: cover;
}

.linkedin-icone {
    width: 50px; /* Largura do ícone */
    height: auto; /* Altura ajustada automaticamente */
    border-radius: 10px; /* Borda arredondada */
}

.github-icone {
    width: 50px; /* Largura do ícone */
    height: auto; /* Altura ajustada automaticamente */
    border-radius: 10px; /* Borda arredondada */
}

.rodape {
    color: white;
    background-color: rgba(13, 44, 218, 0.25);
    padding: 22px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 1.38rem;
    font-weight: 500;
    box-shadow: 0 2px 8px #0d2cda99;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }
    
}